.melhores-opcoes-wrapper {
  width: 100%;
  padding-top:40px;
  padding-bottom:40px;
  background:#fff;
}

.melhores-opcoes-title {
  padding-bottom: 1rem;
  font-size:42px; /* menor */
  font-family:'Playfair Display', serif;
  font-weight:600;
  margin-bottom:15px; /* menor espaçamento */
}

.innerWidth {
  max-width:1200px;
  margin:auto;
}

.r-buttons {
  position:absolute;
  top:-10px;
  right:-10px;
  display:flex;
  gap:.6rem;
  z-index:10;
}

.r-buttons button {
  width:45px; 
  height:36px; 
  margin-top: 2.5rem;
  border-radius:.5rem; 
  border:none; 
  background:#f1f3f5; 
  color:#6c757d; 
  font-size:1.3rem; 
  cursor:pointer; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  transition:.2s;
}
.r-buttons button:hover { 
  background:#e9ecef; 
}

.swiper-horizontal { 
  overflow:visible; 
}
.swiper-slide {
   display:flex; 
   justify-content:center; 
  }

  @media (max-width: 1300px) {
  .melhores-opcoes-title {
    font-size: 45px;
    margin: 2rem auto;
    font-weight: 600;
    text-align: center;
  }
  .r-buttons {
    position: initial;
    margin-bottom: .5rem;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .r-container {
    display: flex;
    flex-direction: column; /* Um card por vez */
    align-items: center;     /* Centraliza */
    overflow-x: hidden;
    gap:1.5rem;              /* Espaço entre cards */
    width:100%;
    margin-left:auto; 
    margin-right:auto; 
   }
}
  .r-head {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .r-buttons {
    position: initial;
    justify-content: center;
  }

@media (max-width: 600px) {
  .melhores-opcoes-title {
    font-size: 28px;
    font-weight: 600;
    margin: 1.5rem auto;
    text-align: center;
  }

}