/* CONTEXTO EXCLUSIVO DA HOME - MELHORES OPÇÕES */
.card-imovel {
  position: relative;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  overflow: visible;
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  transition: max-width 0.2s, width 0.2s;
}

.card-imovel img {
  width: 110%;
  height: 390px;
  object-fit: cover;
  border-radius: 0;
}

.card-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;         /* Bem mais comprido */
  background: #fff;
  box-shadow: 0px 8px 24px rgba(0,0,0,0.10);
  padding: 6px 15px;   /* Menos altura, mais largura */
  display: flex;
  flex-direction: column;
}

.card-title {
  font-family: 'Montserrat', 'Playfair Display', serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #222;
}

.card-preco-local {
  font-size: 1rem;
  color: #888;
}

.card-preco-local span {
  color: #bfa76a;
}

/* Responsividade cards */
@media (max-width: 1300px) {
  .card-imovel {
    max-width: 340px;
    margin-right: auto; /* Centraliza */
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .card-imovel img {
    height: 500px;
  }
}

@media (max-width: 900px) {
  .card-imovel {
    width: 100%;
    max-width: 380px;
    min-width: unset; /* Permite reduzir mais */
    margin-left: auto;
    margin-right: 3.5rem;
    display: block;
  }
  .card-imovel img {
    height: 500px;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .card-imovel {
    max-width: 340px;
    margin-left: auto;
    margin-right: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card-imovel img {
    height: 500px;
  }
}

@media (max-width: 500px) {
   .card-imovel {
    max-width: 340px;
    margin-left: 2rem;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card-imovel img {
    height: 500px;
  }
  }
